<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link rel="icon" href="https://image.flaticon.com/teams/slug/freepik.jpg">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/chat.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="js/push/push.min.js"></script>

</head>
<body>
    <div id="chat-h" class="fixed-top">
        <p id="username"></p><br>
        <p id="typing" class="text-white"></p>
    </div>
    <% include  partials/msgs %>
    <div id="messageArea" class="container row">
            <ul class="chat" id="chat"></ul>
        <div class="fixed-bottom row justify-content-md-center">
            <form id="messageForm" class="col col-md-8 row" autocomplete="off">
                <label class="sr-only">Enter Message</label>
                <input type="text" class="form-control" id="message" placeholder="Enter Message">
                <input type="submit" class="btn btn-primary" id="msg-submit" value="Send">

                <label id="imgBtn" class="btn btn-primary" for="imgUploadInput">&#9974;</label>
                <input type="file" style="display:none" name="img" id="imgUploadInput">
            </form>
        </div>
    </div>

    <iframe style="position: absolute;width: 100%;height: 100%;top:0;border: none;" src="bg/index.html"></iframe>

    <script>
        $(function(){
            const socket = io.connect(),
                $messageForm = $('#messageForm'),
                $message = $('#message'),
                $chat = $('#chat'),
                $messageArea = $('#messageArea'),
                $userFormArea = $('#userFormArea'),
                $userForm = $('#userForm'),
                $users = $('#users'),
                $userHead = $('#username'),
                $typing = $('#typing'),
                $imgUpload = $('#imgUploadInput'),
                $imgForm = $('#imgForm');
                var timer;
                
            // Init Notfication
            function spawnNotification(theBody,theIcon,theTitle) {
                if(!document.hasFocus()){
                    Push.create(theTitle, {
                    body: theBody,
                    icon: 'https://image.flaticon.com/teams/slug/freepik.jpg',
                    timeout: 4000,
                    onClick: function () {
                        window.focus();
                        this.close();
                            }
                        });
                    }
                }   

            function updateScroll(){
                chat.scrollTop = chat.scrollHeight;
            }
            $message.on('input', ()=>{
                socket.emit('typing', '<%= user.username %>');
            });
            socket.on('typing', (data)=>{
                $typing.html(data+' is typing...');
                clearTimeout(timer);
                timer = setTimeout(()=>{$typing.html('');},700);
            });
            
            // File upload
            $imgUpload.on('change', (e)=>{
                var data = new FormData();
                if($imgUpload[0].files[0] != null){
                    data.append('img', $imgUpload[0].files[0]);
                    data.append('username', '<%= user.username %>');

                    fetch('/upload', {
                        body: data,
                        method: 'POST',
                    })
                    .then(res => res.json())
                    .then(function(data){
                        // alert(data.message);
                    })
                    .catch(() => {
                        alert('error');
                    });
                }
                console.log($imgUpload[0].files[0]);
                
            });
            
            // Display usernames on header
            function updateUserHead(user){
                const nameCheck = $userHead.html();
                if( nameCheck === ''){
                    $userHead.html(user);
                }else if(nameCheck.indexOf(user) < 0){ // Check if username already exists
                    $userHead.append(', '+user);
                }
            }

            $messageForm.submit((e)=>{
                e.preventDefault();
                data = {msg: $message.val(), user:'<%= user.username %>'};
                socket.emit('send message', data);
                $message.val('');
            });

            socket.on('new message', (data)=>{
                if(data.user == '<%= user.username %>'){
                    $chat.append('<div class="float-right own-msg bg-secondary"><p class="text-light"><strong>'+data.user+'</strong>: '+data.msg+'</p></div><div class="clearfix"></div>');
                }else{
                    $chat.append('<div class="bg-primary float-left msg"><p class="text-light"><strong>'+data.user+'</strong>: '+data.msg+'</p></div><div class="clearfix"></div>');
                    updateUserHead(data.user);
                    spawnNotification('You Got new Message','https://image.flaticon.com/teams/slug/freepik.jpg','New Message');
                }
                updateScroll()
            });
            socket.on('show image', (data)=>{
                if(data.user == '<%= user.username %>'){
                    $chat.append('<div class="float-right own-msg bg-secondary"><a data-fancybox="ownGallery" href="uploads/'+data.img+'"><img id="img" src="uploads/'+data.img+'"></a></div><div class="clearfix"></div>');
                }else{
                    $chat.append('<div class="bg-primary float-left msg"><a data-fancybox="gallery" href="uploads/'+data.img+'"><img id="img" src="uploads/'+data.img+'"></a></div><div class="clearfix"></div>');
                    updateUserHead(data.user);
                }
                updateScroll()
            });
        });
    </script>
</body>
</html>
